@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Northwind Traders</h1>
    <img src="~/img/northwind.png" alt="Northwind Traders Food Wholesaler logo"/>
    <p>Proudly distributing fine food products around the world for @(DateTime.Now.Year - 1994) years.</p>
</div>
